start time = 1:43am

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

PROJ_ROOT = Path().resolve().parent
EXT_DIR = PROJ_ROOT / 'data' / 'external'

hatecrimezero_df = pd.read_csv(EXT_DIR / 'hatecrimezero.csv', index_col=0)
hatecrime_df = pd.read_csv(EXT_DIR / 'hatecrime.csv', index_col=0)


hatecrimezero_df.drop(['Unnamed: 12', 'Unnamed: 13'], axis=1, inplace=True)

hatecrimezero_df.head()

,Race/ Ethnicity/ Ancestry,Religion,Sexual orientation,Disability,Gender,Gender identity,1st quarter,2nd quarter,3rd quarter,4th quarter,Population
Addison,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,735
Alabaster,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,"33,253"
Albertville,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,"21,588"
Altoona,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,916
Anderson,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,275

In [2]:
hatecrime_df.head()

,Race/ Ethnicity/ Ancestry,Religion,Sexual orientation,Disability,Gender,Gender identity,1st quarter,2nd quarter,3rd quarter,4th quarter,Population
Abbeville,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"5,153"
Abbeville,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
Aberdeen,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,"15,720"
Aberdeen,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"16,243"
Aberdeen Township,2.0,3,1.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,"18,403"

In [3]:
hatecrimezero = hatecrimezero_df.fillna(0)

In [4]:
hatecrimeall_df = pd.concat([hatecrime_df, hatecrimezero_df]).reset_index()

In [5]:
hatecrimeall_df = hatecrimeall_df.fillna(0)

In [6]:
hatecrimeall_df.tail()

,index,Race/ Ethnicity/ Ancestry,Religion,Sexual orientation,Disability,Gender,Gender identity,1st quarter,2nd quarter,3rd quarter,4th quarter,Population
16500,Sweetwater,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16501,Uinta,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16502,Washakie,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16503,Weston,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16504,Wind River Agency,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [7]:
cities = ['Albany',
 'Albuquerque',
 'Anchorage',
 'Atlanta',
 'Augusta',
 'Austin',
 'Baltimore',
 'Baton Rouge',
 'Birmingham',
 'Boise',
 'Boston',
 'Buffalo',
 'Cape Coral',
 'Charleston',
 'Charlotte',
 'Chattanooga',
 'Chicago',
 'Cincinnati',
 'Clarksville',
 'Cleveland',
 'College Station-Bryan',
 'Colorado Springs',
 'Columbia',
 'Columbus',
 'Columbus',
 'Corpus Christi',
 'Dallas',
 'Dayton',
 'Denver',
 'Des Moines',
 'Detroit',
 'El Paso',
 'Fayetteville',
 'Fort Wayne',
 'Fresno-Bakersfield',
 'Grand Rapids',
 'Greensboro',
 'Greenville',
 'Hartford',
 'Honolulu',
 'Houston',
 'Huntsville',
 'Idaho Falls',
 'Indianapolis',
 'Jacksonville',
 'Kansas City',
 'Knoxville',
 'Lakeland',
 'Laredo',
 'Las Vegas',
 'Lexington',
 'Lincoln',
 'Little Rock',
 'Los Angeles',
 'Louisville',
 'Lubbock',
 'Macon',
 'Madison',
 'McAllen',
 'Medford',
 'Memphis',
 'Miami',
 'Milwaukee',
 'Minneapolis',
 'Mobile',
 'Modesto',
 'Montgomery',
 'Nashville',
 'New Orleans',
 'New York City',
 'Oklahoma City',
 'Omaha',
 'Orlando',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'Portland',
 'Providence',
 'Raleigh',
 'Reno',
 'Richmond-Norfolk',
 'Rochester',
 'Sacramento',
 'Salt Lake City',
 'San Antonio',
 'San Diego',
 'San Francisco',
 'Savannah',
 'Seattle',
 'Shreveport',
 'Spokane',
 'Springfield',
 'Springfield',
 'St. Louis',
 'Syracuse',
 'Tallahassee',
 'Tampa',
 'Toledo',
 'Tucson',
 'Tulsa',
 'Tuscaloosa',
 'Washington',
 'Wichita']

In [8]:
hatecrimeall_df.columns = ['City', 'Race', 'Religion', 'LGBTQ', 'Disability', 'Gender', 'Gender Identity', '1st quarter', '2nd quarter', '3rd quarter', '4th quarter', 'population']
# Race/ Ethnicity/ Ancestry	Religion	Sexual orientation	Disability	Gender	Gender identity	1st quarter	2nd quarter	3rd quarter	4th quarter	Population

hatecrimeall_df = hatecrimeall_df[hatecrimeall_df.City.isin(cities)].reset_index(drop=True)
#hatecrimeall_df.head()

In [9]:
hatecrimeall_df

,City,Race,Religion,LGBTQ,Disability,Gender,Gender Identity,1st quarter,2nd quarter,3rd quarter,4th quarter,population
0,Albany,4.0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,"98,174"
1,Albany,1.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,"53,701"
2,Albany,1.0,0,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,"19,880"
3,Albuquerque,4.0,2,1.0,0.0,0.0,0.0,0.0,0.0,4.0,3.0,"561,375"
4,Anchorage,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"296,188"
5,Atlanta,0.0,1,2.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,"481,343"
6,Augusta,0.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,"18,394"
7,Austin,10.0,3,4.0,0.0,0.0,1.0,5.0,4.0,4.0,5.0,"971,949"
8,Austin,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
9,Austin,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
10,Baltimore,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,"613,217"
11,Baltimore,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"2,973"
12,Birmingham,0.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,"21,162"
13,Boise,7.0,6,2.0,0.0,0.0,0.0,1.0,5.0,6.0,3.0,"225,677"
14,Boston,79.0,28,33.0,0.0,0.0,1.0,29.0,42.0,36.0,33.0,"682,903"
15,Buffalo,6.0,0,2.0,0.0,0.0,0.0,2.0,4.0,2.0,0.0,"256,169"
16,Charleston,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"136,845"
17,Charleston,3.0,0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0,"48,788"
18,Charlotte,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
19,Charlotte,2.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,"9,053"
20,Chattanooga,3.0,0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,"178,753"
21,Chicago,16.0,17,7.0,0.0,0.0,1.0,18.0,5.0,10.0,8.0,"2,706,171"
22,Cincinnati,31.0,5,4.0,1.0,0.0,0.0,6.0,15.0,13.0,7.0,"299,116"
23,Clarksville,2.0,0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,"153,294"
24,Cleveland,12.0,0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,5.0,"385,351"
25,Cleveland,7.0,0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,"44,778"
26,Colorado Springs,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"472,958"
27,Columbia,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,"122,585"
28,Columbia,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
29,Columbia,0.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
446,Lexington,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"7,034"
447,Augusta,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
448,Montgomery,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
449,Washington,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
450,Charlotte,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
451,Lexington,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
452,Des Moines,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"31,415"
453,Toledo,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,740
454,Columbia,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
455,Lincoln,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
456,Fayetteville,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"2,839"
457,Madison,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"2,831"
458,Raleigh,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
459,Madison,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
460,Charleston,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
461,Albany,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1,010"
462,Cleveland,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1,455"
463,Columbus,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"5,035"
464,Grand Rapids,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"7,392"
465,Hartford,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"14,664"
466,Medford,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"4,336"
467,Madison,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"42,582"
468,Milwaukee,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"25,601"
469,Milwaukee,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
470,Washington,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
471,Buffalo,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
472,Lincoln,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
473,Buffalo,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"4,590"
474,Albany,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
475,Lincoln,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [10]:
#if population is less than 10,000 and not zero, eliminate it
#s2r1r2r3_pa = s2r1r2r3[(s2r1r2r3['ViewingCondition'] == 'passive')

zerotemp_df = hatecrimeall_df[(hatecrimeall_df['population'] == 0)]
zerotemp_df

,City,Race,Religion,LGBTQ,Disability,Gender,Gender Identity,1st quarter,2nd quarter,3rd quarter,4th quarter,population
8,Austin,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
9,Austin,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
18,Charlotte,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
28,Columbia,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
29,Columbia,0.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
37,El Paso,2.0,0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0
45,Greenville,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
57,Lincoln,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
60,Lincoln,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
62,Los Angeles,6.0,5,4.0,0.0,0.0,0.0,2.0,5.0,5.0,3.0,0
65,Macon,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
67,Madison,0.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
68,Madison,2.0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0
70,Madison,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0
71,Madison,0.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
78,Montgomery,2.0,1,1.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0
80,Montgomery,3.0,0,2.0,0.0,0.0,0.0,1.0,2.0,0.0,2.0,0
81,Montgomery,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
98,Sacramento,8.0,1,1.0,0.0,0.0,1.0,4.0,0.0,4.0,3.0,0
102,San Diego,7.0,0,7.0,0.0,0.0,0.0,3.0,4.0,4.0,3.0,0
108,Spokane,8.0,3,0.0,0.0,0.0,0.0,3.0,4.0,3.0,1.0,0
116,Tulsa,1.0,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0
118,Washington,1.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
119,Washington,0.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
120,Washington,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
121,Washington,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
134,Houston,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
135,Mobile,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
136,Montgomery,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
137,Tuscaloosa,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
406,Lincoln,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
429,Dallas,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
430,El Paso,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
431,Lubbock,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
432,Montgomery,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
433,Wichita,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
434,Houston,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
435,Madison,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
436,Washington,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
437,Corpus Christi,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
438,El Paso,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
439,Houston,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
441,Washington,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
443,Washington,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
447,Augusta,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
448,Montgomery,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
449,Washington,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
450,Charlotte,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
451,Lexington,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
454,Columbia,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
455,Lincoln,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
458,Raleigh,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
459,Madison,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
460,Charleston,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
469,Milwaukee,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
470,Washington,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
471,Buffalo,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
472,Lincoln,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
474,Albany,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
475,Lincoln,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [11]:
# print(hatecrimeall_df[hatecrimeall_df['population'].isnull()])
# hatecrimeall_df['population'] = pd.to_numeric(hatecrimeall_df['population'], errors='coerce')
# hatecrimeall_df = hatecrimeall_df.dropna(subset=['population'])

In [18]:
for i in hatecrimeall_df.index:
    if hatecrimeall_df.at[i, 'population'].iszero():
        hatecrimeall_df['population'].replace(',', '').astype(float)

# #hatecrimeall_df['population'] = hatecrimeall_df['population'].astype(int)
# hatecrimeall_df.head()

AttributeError: 'str' object has no attribute 'iszero'

In [16]:
#df=df[df.A.apply(lambda x: len(str(x))==10]
poptemp_df = hatecrimeall_df.population.apply(lambda x: len(str(x))==10]
poptemp_df

SyntaxError: invalid syntax (<ipython-input-16-4b431fbfaa16>, line 2)