In [1]:
import pandas as pd
from pathlib import Path

PROJ_ROOT = Path().resolve().parent
PRC_DIR = PROJ_ROOT / 'data' / 'processed'

state_df = pd.read_csv(PRC_DIR / 'metro_df.csv', index_col=0)

In [2]:
state_df.head()

,comb_metro,funding,jobs_created,patents,ipo,population,gdp,gdp_per_capita,latitude,longitude,...,female_patents_median,female_age_years_median,male_funding_mean,male_jobs_created_mean,male_patents_mean,male_age_years_mean,male_funding_median,male_jobs_created_median,male_patents_median,male_age_years_median
0,"Albany, NY",85830390,12860,47,0,886188,54302,61275.94,42.787920,-73.942348,...,0.0,8.3808,1.059317e+06,163.289474,0.538462,7.673277,0.0,10.0,0.0,6.69590
1,"Albuquerque, NM",841193433,3820,322,0,1059476,51307,48426.77,35.116603,-106.456535,...,0.0,7.4658,6.782119e+06,43.661972,2.974359,8.678758,125000.0,50.0,0.0,8.46580
2,"Anchorage, AK",6878554,570,4,0,400888,27963,69752.65,62.212784,-149.678222,...,0.0,3.4658,4.068118e+05,40.000000,0.307692,5.715500,75000.0,10.0,0.0,3.38080
3,"Atlanta, GA",16655026618,2167210,1206,13,6437782,411853,63974.36,33.693728,-84.399911,...,0.0,6.4644,1.296103e+07,1831.406650,0.897756,7.922542,0.0,50.0,0.0,7.03840
4,"Augusta, GA",24116970,240,0,0,600151,24395,40648.10,33.460371,-81.982833,...,0.0,5.7479,6.019492e+06,42.500000,0.000000,7.328775,39000.0,30.0,0.0,6.57945

In [3]:
cities = []
for each in state_df['comb_metro']:
    if each not in cities:
        cities.append(each)

In [4]:
cities

['Albany, NY',
 'Albuquerque, NM',
 'Anchorage, AK',
 'Atlanta, GA',
 'Augusta, GA',
 'Austin, TX',
 'Baltimore, MD',
 'Baton Rouge, LA',
 'Birmingham, AL',
 'Boise, ID',
 'Boston, MA',
 'Buffalo, NY',
 'Cape Coral, FL',
 'Charleston, SC',
 'Charlotte, NC',
 'Chattanooga, TN',
 'Chicago, IL',
 'Cincinnati, OH',
 'Clarksville, TN',
 'Cleveland, OH',
 'College Station-Bryan, TX',
 'Colorado Springs, CO',
 'Columbia, SC',
 'Columbus, GA',
 'Columbus, OH',
 'Corpus Christi, TX',
 'Dallas, TX',
 'Dayton, OH',
 'Denver, CO',
 'Des Moines, IA',
 'Detroit, MI',
 'El Paso, TX',
 'Fayetteville, NC',
 'Fort Wayne, IN',
 'Fresno-Bakersfield, CA',
 'Grand Rapids, MI',
 'Greensboro, NC',
 'Greenville, SC',
 'Hartford, CT',
 'Honolulu, HI',
 'Houston, TX',
 'Huntsville, AL',
 'Idaho Falls, ID',
 'Indianapolis, IN',
 'Jacksonville, FL',
 'Kansas City, MO',
 'Knoxville, TN',
 'Lakeland, FL',
 'Laredo, TX',
 'Las Vegas, NV',
 'Lexington, KY',
 'Lincoln, NE',
 'Little Rock, AR',
 'Los Angeles, CA',
 'Louisville, KY',
 'Lubbock, TX',
 'Macon, GA',
 'Madison, WI',
 'McAllen, TX',
 'Medford, OR',
 'Memphis, TN',
 'Miami, FL',
 'Milwaukee, WI',
 'Minneapolis, MN',
 'Mobile, AL',
 'Modesto, CA',
 'Montgomery, AL',
 'Nashville, TN',
 'New Orleans, LA',
 'New York City, NY',
 'Oklahoma City, OK',
 'Omaha, NE',
 'Orlando, FL',
 'Philadelphia, PA',
 'Phoenix, AZ',
 'Pittsburgh, PA',
 'Portland, OR',
 'Providence, RI',
 'Raleigh, NC',
 'Reno, NV',
 'Richmond-Norfolk, VA',
 'Rochester, NY',
 'Sacramento, CA',
 'Salt Lake City, UT',
 'San Antonio, TX',
 'San Diego, CA',
 'San Francisco, CA',
 'Savannah, GA',
 'Seattle, WA',
 'Shreveport, LA',
 'Spokane, WA',
 'Springfield, MA',
 'Springfield, MO',
 'St. Louis, MO',
 'Syracuse, NY',
 'Tallahassee, FL',
 'Tampa, FL',
 'Toledo, OH',
 'Tucson, AZ',
 'Tulsa, OK',
 'Tuscaloosa, AL',
 'Washington, DC',
 'Wichita, KS']

In [5]:
len(cities)

103

In [6]:
# for each in cities:
#     each.split(',')
#     print(each)
    
cities = [x for xs in cities for x in xs.split(',')]
cities

['Albany',
 ' NY',
 'Albuquerque',
 ' NM',
 'Anchorage',
 ' AK',
 'Atlanta',
 ' GA',
 'Augusta',
 ' GA',
 'Austin',
 ' TX',
 'Baltimore',
 ' MD',
 'Baton Rouge',
 ' LA',
 'Birmingham',
 ' AL',
 'Boise',
 ' ID',
 'Boston',
 ' MA',
 'Buffalo',
 ' NY',
 'Cape Coral',
 ' FL',
 'Charleston',
 ' SC',
 'Charlotte',
 ' NC',
 'Chattanooga',
 ' TN',
 'Chicago',
 ' IL',
 'Cincinnati',
 ' OH',
 'Clarksville',
 ' TN',
 'Cleveland',
 ' OH',
 'College Station-Bryan',
 ' TX',
 'Colorado Springs',
 ' CO',
 'Columbia',
 ' SC',
 'Columbus',
 ' GA',
 'Columbus',
 ' OH',
 'Corpus Christi',
 ' TX',
 'Dallas',
 ' TX',
 'Dayton',
 ' OH',
 'Denver',
 ' CO',
 'Des Moines',
 ' IA',
 'Detroit',
 ' MI',
 'El Paso',
 ' TX',
 'Fayetteville',
 ' NC',
 'Fort Wayne',
 ' IN',
 'Fresno-Bakersfield',
 ' CA',
 'Grand Rapids',
 ' MI',
 'Greensboro',
 ' NC',
 'Greenville',
 ' SC',
 'Hartford',
 ' CT',
 'Honolulu',
 ' HI',
 'Houston',
 ' TX',
 'Huntsville',
 ' AL',
 'Idaho Falls',
 ' ID',
 'Indianapolis',
 ' IN',
 'Jacksonville',
 ' FL',
 'Kansas City',
 ' MO',
 'Knoxville',
 ' TN',
 'Lakeland',
 ' FL',
 'Laredo',
 ' TX',
 'Las Vegas',
 ' NV',
 'Lexington',
 ' KY',
 'Lincoln',
 ' NE',
 'Little Rock',
 ' AR',
 'Los Angeles',
 ' CA',
 'Louisville',
 ' KY',
 'Lubbock',
 ' TX',
 'Macon',
 ' GA',
 'Madison',
 ' WI',
 'McAllen',
 ' TX',
 'Medford',
 ' OR',
 'Memphis',
 ' TN',
 'Miami',
 ' FL',
 'Milwaukee',
 ' WI',
 'Minneapolis',
 ' MN',
 'Mobile',
 ' AL',
 'Modesto',
 ' CA',
 'Montgomery',
 ' AL',
 'Nashville',
 ' TN',
 'New Orleans',
 ' LA',
 'New York City',
 ' NY',
 'Oklahoma City',
 ' OK',
 'Omaha',
 ' NE',
 'Orlando',
 ' FL',
 'Philadelphia',
 ' PA',
 'Phoenix',
 ' AZ',
 'Pittsburgh',
 ' PA',
 'Portland',
 ' OR',
 'Providence',
 ' RI',
 'Raleigh',
 ' NC',
 'Reno',
 ' NV',
 'Richmond-Norfolk',
 ' VA',
 'Rochester',
 ' NY',
 'Sacramento',
 ' CA',
 'Salt Lake City',
 ' UT',
 'San Antonio',
 ' TX',
 'San Diego',
 ' CA',
 'San Francisco',
 ' CA',
 'Savannah',
 ' GA',
 'Seattle',
 ' WA',
 'Shreveport',
 ' LA',
 'Spokane',
 ' WA',
 'Springfield',
 ' MA',
 'Springfield',
 ' MO',
 'St. Louis',
 ' MO',
 'Syracuse',
 ' NY',
 'Tallahassee',
 ' FL',
 'Tampa',
 ' FL',
 'Toledo',
 ' OH',
 'Tucson',
 ' AZ',
 'Tulsa',
 ' OK',
 'Tuscaloosa',
 ' AL',
 'Washington',
 ' DC',
 'Wichita',
 ' KS']

In [7]:
cities = cities[::2]
cities

['Albany',
 'Albuquerque',
 'Anchorage',
 'Atlanta',
 'Augusta',
 'Austin',
 'Baltimore',
 'Baton Rouge',
 'Birmingham',
 'Boise',
 'Boston',
 'Buffalo',
 'Cape Coral',
 'Charleston',
 'Charlotte',
 'Chattanooga',
 'Chicago',
 'Cincinnati',
 'Clarksville',
 'Cleveland',
 'College Station-Bryan',
 'Colorado Springs',
 'Columbia',
 'Columbus',
 'Columbus',
 'Corpus Christi',
 'Dallas',
 'Dayton',
 'Denver',
 'Des Moines',
 'Detroit',
 'El Paso',
 'Fayetteville',
 'Fort Wayne',
 'Fresno-Bakersfield',
 'Grand Rapids',
 'Greensboro',
 'Greenville',
 'Hartford',
 'Honolulu',
 'Houston',
 'Huntsville',
 'Idaho Falls',
 'Indianapolis',
 'Jacksonville',
 'Kansas City',
 'Knoxville',
 'Lakeland',
 'Laredo',
 'Las Vegas',
 'Lexington',
 'Lincoln',
 'Little Rock',
 'Los Angeles',
 'Louisville',
 'Lubbock',
 'Macon',
 'Madison',
 'McAllen',
 'Medford',
 'Memphis',
 'Miami',
 'Milwaukee',
 'Minneapolis',
 'Mobile',
 'Modesto',
 'Montgomery',
 'Nashville',
 'New Orleans',
 'New York City',
 'Oklahoma City',
 'Omaha',
 'Orlando',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'Portland',
 'Providence',
 'Raleigh',
 'Reno',
 'Richmond-Norfolk',
 'Rochester',
 'Sacramento',
 'Salt Lake City',
 'San Antonio',
 'San Diego',
 'San Francisco',
 'Savannah',
 'Seattle',
 'Shreveport',
 'Spokane',
 'Springfield',
 'Springfield',
 'St. Louis',
 'Syracuse',
 'Tallahassee',
 'Tampa',
 'Toledo',
 'Tucson',
 'Tulsa',
 'Tuscaloosa',
 'Washington',
 'Wichita']